# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  validate-code:
    docker:
      # Use the same Docker base as the project
      - image: python:3.7.3-stretch

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install
            # Install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64 &&\
            chmod +x /bin/hadolint
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
        
      # run tests!
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            make test
      # run lints!
      - run:
          name: run lint
          command: |
            . venv/bin/activate
            make lint

  build-image:
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install dependencies
          command: |
            apk add --no-cache py-pip=9.0.0-r1
      - run:
          name: Build application Docker image
          command: |
            docker build  -t xinhho/cloud-devops-project5:${CIRCLE_WORKFLOW_ID:0:7} .
      - deploy:
          name: Push application Docker image
          command: |
            docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD            
            docker push "xinhho/cloud-devops-project5:${CIRCLE_WORKFLOW_ID:0:7}"

  create-eks-cluster:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run: yum install -y tar gzip
      - run:
          name: install eksctl
          command: |
            ARCH=amd64
            PLATFORM=$(uname -s)_$ARCH
            curl -sLO "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$PLATFORM.tar.gz"
            tar -xzf eksctl_$PLATFORM.tar.gz -C /tmp && rm eksctl_$PLATFORM.tar.gz
            mv /tmp/eksctl /usr/local/bin

      - run: 
          name: Create cluster if not exist
          command: |
            if [ eksctl get cluster  --name "my-eksctl" --region=us-east-1 ] ; then
              echo "Cluster already exist"
            else
              eksctl create cluster --name "my-eksctl" --region=us-east-1 --zones=us-east-1a,us-east-1b,us-east-1c
            fi

  deploy:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run: yum install -y tar gzip
      - run:
          name: Install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl
            install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
      - run:
          name: Config kubectl connect to aws
          command: |
            aws eks update-kubeconfig --region us-east-1  --name my-eksctl
      - run:
          name: create deployment
          command: |
            kubectl create deployment cloud-devops-project5-${CIRCLE_WORKFLOW_ID:0:7}-deployment --image="xinhho/cloud-devops-project5:${CIRCLE_WORKFLOW_ID:0:7}" --port 80
      - run:
          name: expose deployment
          command: |
            kubectl expose deployment cloud-devops-project5-${CIRCLE_WORKFLOW_ID:0:7}-deployment --type=LoadBalancer --port=80
            sleep 1m
      - run:
          name: extract IP address of app
          command: |
            cd .circleci
            
            ip_address=$(kubectl get services cloud-devops-project5-${CIRCLE_WORKFLOW_ID:0:7}-deployment --output jsonpath='{.status.loadBalancer.ingress[0].hostname}')
            echo $ip_address >> ip_address.txt
      - persist_to_workspace:
          root: ~/
          paths:
            - project/.circleci/ip_address.txt
  
  docker:
      - image: python:3.7.3-stretch
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run:
          name: Install dependencies
          command: |
            apk add --update curl
      - run:
          name: Smoke test.
          command: |
            cd .circleci
          
            export APP_IP=$(cat ip_address.txt)
            
            export APP_ENDPOINT="http://${APP_IP}/greeting"

            echo ${APP_ENDPOINT} 
  
            if curl ${APP_ENDPOINT} | grep "Greeting"
            then
              return 0
            else
              return 1
            fi 



# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  my-workflow:
    jobs:
      - validate-code
      - build-image:
          requires: [validate-code]
      - create-eks-cluster:
          requires: [build-image]
      - deploy:
          requires: [create-eks-cluster]
